{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block content %}
    <div class="min-h-screen flex items-center justify-center pb-50">
        <form method="post" class="w-full max-w-md">
            {{ form_start(form, {'attr': {'class': 'w-full'}}) }}

            <fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-6 shadow-md">
                <legend class="fieldset-legend text-lg font-bold mb-4">User Details</legend>

                <div class="form-control mb-4">
                    <label class="label">Username</label>
                    {{ form_widget(form.username, {'attr': {'class': 'input input-bordered w-full', 'placeholder': 'Enter username'}}) }}
                    {{ form_errors(form.username) }}
                </div>

                <div class="form-control mb-4">
                    <label class="label">Age</label>
                    {{ form_widget(form.age, {'attr': {'class': 'input input-bordered w-full', 'placeholder': 'Enter age'}}) }}
                    {{ form_errors(form.age) }}
                </div>
            </fieldset>

            <div class="flex justify-center gap-4 mt-6">
                <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
                <a href="{{ path('app_user_index') }}" class="btn btn-info">Back to list</a>
            </div>

            {{ form_end(form) }}
        </form>
    </div>
{% endblock %}
