{% extends 'base_booking.html.twig' %}

{% block title %}Booking page{% endblock %}

{% block content %}
    <div data-controller="scroll-on-search">
        <div class="relative h-screen w-full overflow-hidden">
            <video autoplay muted loop playsinline
                   class="absolute inset-0 w-full h-full object-cover z-0">
                <source src="{{ asset('videos/festival2.mp4') }}" type="video/mp4">
                Videoul nu se incarca.
            </video>


            <div class="relative z-20 flex flex-col items-center h-full text-center px-4 text-white mt-50">
                <h1 class="text-5xl md:text-6xl font-extrabold text-accent mb-4">
                    Welcome to ShowTime
                </h1>

                <p class="text-xl md:text-2xl font-medium text-accent mb-10">
                    We made it easier for you. All festivals in one place.
                </p>

                <button onclick="document.getElementById('festival-section').scrollIntoView({ behavior: 'smooth' });"
                        class="btn btn-accent mb-4">
                    {% if not app.user %}
                        View Available Festivals as Guest
                    {% elseif app.user %}
                        View Available Festivals
                    {% endif %}
                </button>

                {% if not app.user %}
                    <a href="{{ path('app_register') }}" class="btn btn-primary">
                        Login/Register to Access All Functionalities
                    </a>
                {% endif %}

                <form action="{{ path('app_booking_index') }}" method="get" class="mt-6 w-full max-w-md">
                    <input
                        type="text"
                        name="search"
                        placeholder="Search for a festival by name"
                        class="input input-bordered w-full rounded-full text-black bg-white focus:outline-none focus:ring-2 focus:ring-accent"
                    />
                </form>
            </div>
        </div>
    </div>

    <div id="festival-section" class="flex justify-center mt-4">
        <div class="w-[1000px]">
            <div class="flex items-baseline gap-4 mb-4">
                <div class="status status-error animate-bounce w-3.5 h-3.5"></div>
                <div class="flex flex-col">
                    <h1 class="text-4xl font-bold">All available festivals!</h1>
                    {% if queryp == 'true' %}
                        <a href="{{ path('app_booking_index') }}" class="link link-accent text-sm mt-1">
                            Remove filters
                        </a>
                    {% endif %}
                </div>
            </div>

            <div class="overflow-x-auto">
                {% for festival in festivals %}
                    <div tabindex="{{ festival.id }}" class="collapse collapse-arrow bg-base-100 border-base-300 border mt-5
                ">
                        <div class="collapse-title font-bold">
                            <div class="collapse-title font-bold flex items-center justify-between">
                                <div>
                                    <h1 class="text-2xl font-bold">Festival: {{ festival.name }}</h1>
                                    <h1 class="text-xl font-bold">Location: {{ festival.location }}</h1>
                                </div>
                                <div class="flex items-center justify-between ">
                                    <h1 class="text-l font-normal">Start Date: {{ festival.startDate|date('d-m-y') }}
                                        ---
                                        End
                                        Date: {{ festival.endDate|date('d-m-y') }}</h1>
                                </div>
                                <div class="flex ml-5">
                                    <a href="{{ path('app_booking_new', {'festivalId': festival.id}) }}"
                                       class="btn btn-accent">Get
                                        ticket</a>
                                    {% if app.user %}
                                        {% if festival in app.user.wishlist %}
                                            <div class="flex ml-5">
                                                <a href="{{ path('app_wishlist_toggle', {'id': festival.id}) }}">
                                                    <img src="{{ asset('images/heart_full.png') }}"
                                                         class="h-10 w-10 cursor-pointer transition-transform duration-200 hover:scale-110"
                                                         alt="Favourites icon">
                                                </a>
                                            </div>
                                        {% else %}
                                            <div class="flex ml-5">
                                                <a href="{{ path('app_wishlist_toggle', {'id': festival.id}) }}">
                                                    <img src="{{ asset('images/favourites.png') }}"
                                                         class="h-10 w-10 cursor-pointer transition-transform duration-200 hover:scale-110 hover:brightness-90"
                                                         alt="Favourites icon">
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="collapse-content text-sm">
                            <ul class="list bg-base-100 rounded-box shadow-md">

                                <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Coming artists to the festival:
                                </li>
                                {% set nr = 1 %}
                                {% for band in festival.bands %}
                                    <li class="list-row">
                                        <div class="text-4xl font-thin opacity-30 tabular-nums">
                                            {% if nr<10 %}
                                                0{{ nr }}
                                            {% else %}
                                                {{ nr }}
                                            {% endif %}

                                        </div>
                                        <div>
                                            {% if band.picture %}
                                                <img class="size-10 rounded-box"
                                                     src="{{ asset(band.picture) }}"
                                                     alt="No photo available"
                                                     class="w-24 h-24 object-cover rounded">
                                            {% else %}
                                                <img class="size-10 rounded-box"
                                                     src="https://img.daisyui.com/images/profile/demo/1@94.webp"/>
                                            {% endif %}
                                        </div>
                                        <div class="list-col-grow">
                                            <div>Name: {{ band.name }}</div>
                                            <div
                                                class="text-xs uppercase font-semibold opacity-60">
                                                Genre: {{ band.musicGenre.value }}
                                            </div>
                                        </div>

                                    </li>
                                    {% set nr = nr+1 %}
                                {% endfor %}


                            </ul>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}

