<!DOCTYPE html>
<html data-theme="lemonade">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body class="min-h-screen flex flex-col">
<div class="flex-grow">
    <div class="drawer drawer-mobile">
        <input id="my-drawer" type="checkbox" class="drawer-toggle"/>

        <div class="drawer-content">
            <div class="navbar bg-base-200 shadow-sm relative">
                <div class="flex-1">
                    <label for="my-drawer"
                           class="btn btn-ghost text-xl">{% if app.user %} ☰ Menu {% else %}Log in {% endif %}</label>
                </div>

                <div class="absolute left-1/2 transform -translate-x-1/2">
                    <img src="{{ asset('images/logo2.png') }}" width="180" height="120" alt="Logo">
                </div>
                {% if app.user %}
                    <div class="flex-none mr-3 tooltip tooltip-left" data-tip="See wishlist!">
                        <button class="btn btn-square btn-ghost">
                            {#                            <span class="text-sm font-semibold">Favourites</span> #}
                            <a href="{{ path('app_wishlist_page') }}">
                                <img src="{{ asset('images/favourites.png') }}" class="inline-block h-10 w-10"
                                     alt="Favourites icon">
                            </a>
                        </button>
                    </div>
                {% endif %}
            </div>

            <div class="p-4">
                {% block content %}{% endblock %}
            </div>
        </div>

        <div class="drawer-side z-40">
            <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
            <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('app_band_index') }}">Bands</a></li>
                        <li><a href="{{ path('app_festival_index') }}">Festivals</a></li>
                        <li><a href="{{ path('app_booking_index_admin') }}">Bookings</a></li>
                        <li><a href="{{ path('app_user_index') }}">Users</a></li>
                    {% endif %}
                {% endif %}
                <li><a href="{{ path('app_booking_index') }}">Home Page</a></li>
                {% if not app.user %}
                    <li><a href="{{ path('app_register') }}">Register</a></li>
                {% endif %}
                {% if app.user %}
                    <li><a href="{{ path('app_logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<footer class="footer sm:footer-horizontal footer-center bg-base-300 text-base-content p-4">
    <aside>
        <p>Copyright © ShowTime 2025 - All rights reserved.</p>
    </aside>
</footer>
</body>

</html>
