<!DOCTYPE html>
<html data-theme="retro">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<div class="drawer drawer-mobile">
    <input id="my-drawer" type="checkbox" class="drawer-toggle"/>

    <div class="drawer-content">
        <div class="navbar bg-base-200 shadow-sm relative">
            <div class="flex-1">
                <label for="my-drawer" class="btn btn-ghost text-xl">☰ Menu</label>
            </div>

            <div class="absolute left-1/2 transform -translate-x-1/2">
                <img src="{{ asset('images/logo2.png') }}" width="180" height="120" alt="Logo">
            </div>

            <div class="flex-none">
                <button class="btn btn-square btn-ghost">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         class="inline-block h-5 w-5 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="p-4">
            {% block content %}{% endblock %}
        </div>
    </div>

    <div class="drawer-side z-40">
        <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>

        <div class="bg-base-200 text-base-content min-h-full w-80 p-4 flex flex-col justify-between">
            <div class="space-y-4">
                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_band_index') }}" class="block text-lg font-semibold hover:text-accent">Bands</a>
                        <a href="{{ path('app_festival_index') }}"
                           class="block text-lg font-semibold hover:text-accent">Festivals</a>
                        <a href="{{ path('app_booking_index_admin') }}"
                           class="block text-lg font-semibold hover:text-accent">Bookings</a>
                        <a href="{{ path('app_user_index') }}" class="block text-lg font-semibold hover:text-accent">Users</a>
                    {% endif %}
                {% endif %}

                <a href="{{ path('app_booking_index') }}" class="block font-semibold text-lg mt-6 hover:text-accent">
                    Home Page
                </a>

                {% if not app.user %}
                    <a href="{{ path('app_register') }}"
                       class="block text-xl font-semibold hover:text-accent">Register</a>
                {% endif %}
            </div>

            {% if app.user %}
                <a href="{{ path('app_logout') }}" class="block text-lg font-semibold hover:text-red-500 mt-6">
                    Logout
                </a>
            {% endif %}
        </div>
    </div>
</div>


</body>

</html>
